<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Register</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="create-user-form">
        <span>Create your Account!</span>
        <div>
          <input type="text" name="name" id="name" placeholder="Enter your Name" required="required">
        </div>
        <div>
          <input type="text" name="nick" id="nick" placeholder="Enter your Nick" required="required">
        </div>
        <div>
          <input type="email" name="email" id="email" placeholder="Enter your Email" required="required">
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Enter your Password" required="required">
        </div>
        <div>
          <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your Password" required="required">
        </div>
        <a href="/login">Click here to Login!</a>
        <button type="submit" class="btn-devbook">Create User</button>
      </form>
    </div>
  </div>
  
  <script src="/assets/js/jquery.min.js"></script>  
  <script src="/assets/js/create-user.js"></script>  
</body>
</html>